<footer id="footer" class="footer wf-section">
	<div class="w-container">
		<div class="footer-flex-container">
		<a href="#" class="list-item no-link w-inline-block"><img src="images/ideas_icon.png" loading="lazy" width="44" alt="AI safety ideas logo" class="nav-logo">
			<h2 class="logotext footer-logo">Ideas platform</h2>
		</a>
		<div>
			<h2 class="footer-heading">Reading material</h2>
			<ul role="list" class="w-list-unstyled">
			<li>
				<a href="#" class="footer-link">The AI Gauntlet</a>
			</li>
			<li>
				<a href="#" class="footer-link">AGI Fundamentals</a>
			</li>
			</ul>
		</div>
		<div>
			<h2 class="footer-heading">Pages</h2>
			<ul role="list" class="w-list-unstyled">
			<li>
				<a href="#" class="footer-link">Homepage</a>
			</li>
			<li>
				<a href="#" class="footer-link">Funders platform</a>
			</li>
			<li>
				<a href="#" class="footer-link">Mentors platform</a>
			</li>
			<li>
				<a href="#" class="footer-link">How does it work?</a>
			</li>
			</ul>
		</div>
		</div>
		<div>2022 Apart Research</div>
	</div>
</footer>
