<script>
	export let title;
</script>

<div class="idea-block _1">
	<div class="voting-block"><img src="images/double-arrow-up-green.png" loading="lazy" alt="" class="arrow">
	  <div class="votes">742</div>
	</div>
	<div>
	  <div class="idea-header">
		<div class="idea-title">
		  <h4>{title}</h4>
		  <div class="funding-amount">$100,000+</div>
		</div>
		<div class="idea-header-r">
		  <div>Tooling | Community</div><img src="images/25360_32.png" loading="lazy" width="22" alt="comments icon" class="comments-icon">
		  <div>183</div>
		</div>
	  </div>
	  <p>Measuring how easily we can change an agent&#x27;s behaviour. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Measuring how easily we can change an agent&#x27;s behaviour. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
	  <div class="idea-footer">
		<div class="idea-meta">
		  <div>Created 2022-02-28 by FTX Future Fund</div>
		  <div>Funded by FTX Future Fund</div>
		</div>
		<div class="ideas-rating">
		  <div class="rating-block">
			<div class="rating-title">Impact*</div>
			<div>8</div>
		  </div>
		  <div class="rating-block">
			<div class="rating-title">Confidence*</div>
			<div>5</div>
		  </div>
		  <div class="rating-block">
			<div class="rating-title">Ease*</div>
			<div>4</div>
		  </div>
		  <div class="rating-block">
			<div class="rating-title">Capabilities*</div>
			<div>60%</div>
		  </div>
		</div>
		<a href="technical-ai-safety-idea.html" class="submit-button w-button">Read more</a>
	  </div>
	</div>
  </div>