<script>
	export let icon
	export let size = null
	export let flip = false

	const path = '/icomoon/symbol-defs.svg'
</script>

{#if icon}
	<svg class:sm={size === 'sm'} class:lg={size === 'lg'} class:xl={size === 'xl'} class:flip>
		<use href={`${path}#icon-${icon}`} />
	</svg>
{/if}

<style lang="scss">
	:root {
		--size: 2.5rem;
	}

	svg {
		display: inline-block;
		fill: currentColor;

		height: var(--size);
		width: var(--size);

		&.sm {
			height: 1.6rem;
			width: 1.6rem;
		}

		&.lg {
			height: 3.2rem;
			width: 3.2rem;
		}

		&.xl {
			height: 5.4rem;
			width: 5.4rem;
		}

		&.flip {
			transform: rotate(180deg);
		}
	}
</style>
