<script>
	import '../fonts/index.scss'
	import Header from '$lib/header/Header.svelte'
	import Footer from '$lib/Footer.svelte'
	import FrontIdea from '$lib/FrontIdea.svelte'
	import supabase from "$lib/db"

	let loading = false
	let email;

	const handleLogin = async () => {
		try {
			console.log("Trying...")
			loading = true
			const { error } = await supabase.auth.signIn({ email })
			if (error) throw error
			console.log("Success!")
			alert('Check your email for the login link!')
		} catch (error) {
			alert(error.error_description || error.message)
		} finally {
			loading = false
		}
	}
</script>

<Header />


<div id="hero" class="section wf-section">
	<div class="main w-row">
		<div class="w-col w-col-9">
			<form class="row flex flex-center" on:submit|preventDefault={handleLogin}>
			<div class="col-6 form-widget">
				<h1 class="header">Supabase + Svelte</h1>
				<p class="description">Sign in via magic link with your email below</p>
				<div>
				<input
					class="inputField"
					type="email"
					placeholder="Your email"
					bind:value={email}
				/>
				</div>
				<div>
				<input type="submit" class='button block' value={loading ? "Loading" : "Send magic link"} disabled={loading} />
				</div>
			</div>
			</form>
			<div class="hero w-container">
          <div class="herotext">
            <h2>Pre-funded AI safety technical ideas</h2>
            <p>Apply to work on specific ideas that funders have already committed a specific amount to funding and get mentorship on the way. We make it easy to start projects and get funding.</p>
            <h3>Top ideas</h3>
            <div class="page-numbers"><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow left">
              <p class="page-number">1</p>
              <p class="page-number selected">2</p>
              <p class="page-number">3</p>
              <p class="page-number">...</p>
              <p class="page-number">13</p><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow right">
            </div>
			<!-- Idea block here -->
            <FrontIdea title="AI Alignment Prizes" />
            <div class="idea-block">
              <div class="voting-block"><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow">
                <div class="votes">85</div>
              </div>
              <div>
                <div class="idea-header">
                  <div class="idea-title">
                    <h4><strong>Quantifying price of alignment</strong></h4>
                    <div class="funding-amount">$60,000</div>
                  </div>
                  <div class="idea-header-r">
                    <div>Machine learning</div><img src="images/25360_32.png" loading="lazy" width="22" alt="comments icon" class="comments-icon">
                    <div>59</div>
                  </div>
                </div>
                <p>Measure the performance of interpretable models and black box models to put metrics on the usability differences between the two. Analyze performance, ease-of-use, robustness (~interpretability) and more.</p>
                <div class="idea-footer">
                  <div class="idea-meta">
                    <div>Created 2022-03-17 by Apart Research</div>
                    <div>Funded by FTX Future Fund</div>
                    <div>Mentorship by Esben Kran</div>
                  </div>
                  <div class="ideas-rating">
                    <div class="rating-block">
                      <div class="rating-title">Impact*</div>
                      <div>8</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Confidence*</div>
                      <div>5</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Ease*</div>
                      <div>4</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Capabilities*</div>
                      <div>60%</div>
                    </div>
                  </div>
                  <a href="#" class="submit-button w-button">Read more</a>
                </div>
              </div>
            </div>
            <div class="idea-block">
              <div class="voting-block"><img src="images/arrow-up-green.png" loading="lazy" alt="" class="arrow">
                <div class="votes">126</div>
              </div>
              <div>
                <div class="idea-header">
                  <div class="idea-title">
                    <h4>Reliably truthful GPT-X</h4>
                    <div class="funding-amount">$100,000+</div>
                  </div>
                  <div class="idea-header-r">
                    <div>Machine learning | Language models</div><img src="images/25360_32.png" loading="lazy" width="22" alt="comments icon" class="comments-icon">
                    <div>92</div>
                  </div>
                </div>
                <p>Training a version of GPT-3/J/Neo/NeoX that performs equally well but outputs sentences humans label as false very rarely.</p>
                <div class="idea-footer">
                  <div class="idea-meta">
                    <div>Created 2022-02-28 by FTX Future Fund</div>
                    <div>Funded by FTX Future Fund</div>
                    <div>Mentorship by Jonathan Rystrøm</div>
                  </div>
                  <div class="ideas-rating">
                    <div class="rating-block">
                      <div class="rating-title">Impact*</div>
                      <div>8</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Confidence*</div>
                      <div>5</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Ease*</div>
                      <div>4</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Capabilities*</div>
                      <div>60%</div>
                    </div>
                  </div>
                  <a href="#" class="submit-button w-button">Read more</a>
                </div>
              </div>
            </div>
            <div class="idea-block">
              <div class="voting-block"><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow">
                <div class="votes">53</div>
              </div>
              <div class="idea-summary">
                <div class="idea-header">
                  <div class="idea-title">
                    <h4>Aggression decay</h4>
                    <div class="funding-amount">$20,000</div>
                  </div>
                  <div class="idea-header-r">
                    <div>Reinforcement learning | Machine learning</div><img src="images/25360_32.png" loading="lazy" width="22" alt="comments icon" class="comments-icon">
                    <div>22</div>
                  </div>
                </div>
                <p>Measuring how easily we can change an agent&#x27;s behaviour. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Measuring how easily we can change an agent&#x27;s behaviour. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                <div class="idea-footer">
                  <div class="idea-meta">
                    <div>Created 2022-03-27 by Apart Research</div>
                    <div>Funded by FTX Future Fund</div>
                  </div>
                  <div class="ideas-rating">
                    <div class="rating-block">
                      <div class="rating-title">Impact*</div>
                      <div>8</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Confidence*</div>
                      <div>5</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Ease*</div>
                      <div>4</div>
                    </div>
                    <div class="rating-block">
                      <div class="rating-title">Capabilities*</div>
                      <div>60%</div>
                    </div>
                  </div>
                  <a href="#" class="submit-button w-button">Read more</a>
                </div>
              </div>
            </div>
            <div class="page-numbers"><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow left">
              <p class="page-number">1</p>
              <p class="page-number selected">2</p>
              <p class="page-number">3</p>
              <p class="page-number">...</p>
              <p class="page-number">13</p><img src="images/arrow-up.png" loading="lazy" alt="arrow icon (use to like and dislike ideas)" class="arrow right">
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="utility-block">
          <a href="#" class="button utility w-button">Submit an idea</a>
          <div class="filter-block">
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">My bookmarks</div>
              <div>14</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">My ideas</div>
              <div>12</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">My votes</div>
              <div>43</div>
            </a>
          </div>
          <div class="filter-block">
            <h4 class="filter-header">Filter by category</h4>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Conceptual</div>
              <div>24</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Machine learning</div>
              <div>27</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Forecasting</div>
              <div>12</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Tooling</div>
              <div>13</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Interpretability</div>
              <div>5</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Community</div>
              <div>8</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Other</div>
              <div>7</div>
            </a>
          </div>
          <div class="filter-block">
            <h4 class="filter-header">Filter by funding</h4>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">FTX Future Fund</div>
              <div>34</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">OpenPhil</div>
              <div>25</div>
            </a>
            <a href="#" class="filter-button w-inline-block">
              <div class="filter-name">Other</div>
              <div>22</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<Footer />
