body {
  font-family: Sora, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: underline;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(59%, hsla(0, 0%, 100%, 0.95)), color-stop(82%, hsla(0, 0%, 100%, 0.19)), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.95) 59%, hsla(0, 0%, 100%, 0.19) 82%, hsla(0, 0%, 100%, 0));
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  height: 44px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: 44px;
  height: 44px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  height: 44px;
  margin-right: 0px;
  margin-bottom: -12px;
  margin-left: 0px;
  padding: 10px 0px 5px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.section {
  display: block;
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.list {
  width: 46%;
  margin-top: 10px;
  margin-right: 1px;
  margin-bottom: 10px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 0px;
}

.list._2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: -2px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.listid {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 56px;
}

.listtitle {
  width: 100%;
  margin-top: 0px;
  padding: 20px;
  border-bottom: 2px solid #000;
  background-color: #44ff98;
}

.button {
  position: static;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 10000px;
  background-color: #44ff98;
  color: #333;
}

.button.listbutton {
  margin-bottom: 20px;
}

.button.header {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 1000px;
  background-color: transparent;
}

.button.header:hover {
  background-color: #44ff98;
}

.button.utility {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border-style: none;
  border-radius: 5px;
  background-color: #25312b;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.button.utility:hover {
  background-color: #1ac968;
}

.button.utility.idea {
  margin-bottom: 12px;
  border-style: solid;
  border-color: #25312b;
  background-color: transparent;
  color: #25312b;
}

.button.utility.idea:hover {
  border-color: #1ac968;
  color: #1ac968;
}

.button.utility.comment {
  max-width: 100px;
  font-size: 14px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 70rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.toc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.herotext {
  width: 100%;
}

.toclink {
  display: block;
  font-size: 14px;
}

.paragraph {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 22px;
}

.testwarning {
  color: red;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.entry {
  margin-top: 20px;
  border-width: 1.5px;
  border-color: #1aa5af;
  border-radius: 16px;
}

.submission {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.06);
}

.submission._2 {
  border-radius: 0px;
  background-color: transparent;
}

.submissionid {
  margin-bottom: 0px;
}

.submissiontitle {
  margin-top: 0px;
  margin-bottom: 5px;
}

.padding30 {
  padding-right: 30px;
  padding-left: 30px;
}

.timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.06);
}

.timeline._2 {
  background-color: transparent;
}

.popup-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1300px;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.popup-bg.hidden {
  display: none;
}

.form-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 40rem;
  height: 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.91);
}

.form-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.close {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background-color: red;
}

.image {
  border-radius: 20px;
}

.popup-link {
  margin-top: 6px;
  color: #1cdb72;
  font-size: 14px;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-span {
  margin-bottom: -15px;
  font-family: 'Open Sans', sans-serif;
  color: #44ff98;
  font-size: 130px;
  line-height: 32px;
  font-weight: 600;
}

.submit-button {
  background-color: #44ff98;
  color: #000;
}

.submit-button.comments {
  margin-top: 24px;
  margin-bottom: 24px;
}

.link {
  color: #44ff98;
}

.footer {
  position: relative;
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  max-width: 300px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.subname {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
}

.logotext {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 8px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  white-space: nowrap;
}

.logotext.footer-logo {
  margin-top: 6px;
}

.container {
  max-width: 90rem;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list-item.no-link {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.utility-block {
  min-height: 60px;
  min-width: 60px;
  margin-top: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.utility-block.idea {
  margin-top: 0px;
}

.main {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.filter-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.filter-button:hover {
  background-color: #f5fff9;
  color: #1ac968;
}

.filter-button:focus {
  background-color: #1cdb72;
  color: #fff;
}

.filter-name:focus {
  color: #fff;
}

.filter-block {
  margin-top: 18px;
}

.filter-header {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.idea-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 25px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.idea-block._1 {
  border-top-style: none;
}

.idea-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.idea-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.funding-amount {
  margin-left: 8px;
}

.idea-header-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.comments-icon {
  margin-right: 5px;
  margin-left: 14px;
}

.voting-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 70px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.votes {
  margin: 10px;
}

.arrow {
  opacity: 0.5;
  cursor: pointer;
}

.arrow.right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow.left {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.arrow.down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.idea-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.idea-meta {
  font-size: 14px;
  line-height: 22px;
}

.ideas-rating {
  display: none;
}

.rating-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 9px;
  padding-left: 9px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating-title {
  font-size: 14px;
}

.heading-2 {
  font-weight: 700;
}

.idea-popup {
  width: 100%;
  max-width: 1300px;
  margin-top: 88px;
  margin-bottom: 44px;
  padding: 32px 32px 56px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
}

.link-icon {
  margin-right: 5px;
  -webkit-filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
  filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
}

.link-icon.interaction {
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

.link-icon.interaction:hover {
  -webkit-filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
  filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
}

.idea-description {
  margin-top: 12px;
  margin-bottom: 24px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 22px;
}

.related-idea {
  margin-top: 12px;
  padding-left: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1cdb72;
  font-size: 14px;
  line-height: 16px;
}

.comments {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.comment {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.write-comment {
  font-size: 14px;
  line-height: 16px;
}

.comment-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 8px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.all-comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-message {
  background-color: transparent;
}

.comment-field {
  min-height: 80px;
  margin-right: 15px;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.field-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.field-label.in-comment {
  white-space: normal;
}

.field-label.in-comment.association {
  opacity: 0.5;
}

.field-label.association {
  opacity: 0.5;
}

.comment-author {
  width: 140px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.comment-text {
  min-width: 65%;
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
}

.comment-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.comment-content.reply {
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.comment-reaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 14px;
}

.no-comments {
  display: none;
  padding-left: 15px;
  font-style: italic;
}

.idea-reaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.idea-interaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 19px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.interaction-icon {
  width: 32px;
  height: 32px;
  margin: 0px 4px;
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

.interaction-icon.link-icon {
  -webkit-filter: none;
  filter: none;
}

.interaction-icon.link-icon:hover {
  -webkit-filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
  filter: invert(72%) sepia(89%) saturate(471%) hue-rotate(81deg) brightness(91%) contrast(88%);
}

.interaction-text {
  font-size: 14px;
  line-height: 16px;
}

.idea-summary {
  cursor: pointer;
}

.idea-interaction-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.collection-item {
  padding: 10px 10px 20px;
  border-top: 1px solid #000;
}

.page-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-number {
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.page-number:hover {
  background-color: rgba(68, 255, 152, 0.28);
}

.page-number.selected {
  padding-right: 5px;
  padding-left: 5px;
  background-color: #44ff98;
  color: #25312b;
}

.comment-reply {
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #a0a0a0;
  font-size: 12px;
  line-height: 16px;
}

.comment-reply:hover {
  text-decoration: underline;
}

.comment-reply-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 25px;
  }

  .list {
    width: 98%;
  }

  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .toc {
    width: 100%;
    margin-left: 0%;
  }

  .herotext {
    width: 100%;
  }

  .testwarning {
    margin-right: 15px;
    margin-left: 15px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .list {
    padding: 15px;
  }

  .form-bg {
    margin-right: 5px;
    margin-left: 5px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .list {
    padding: 10px;
  }

  .timeline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}

#w-node-_8cbb5d07-cba3-071b-c9b2-0aac2f63eec8-bd850cbc {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_8cbb5d07-cba3-071b-c9b2-0aac2f63eec8-aa51d060 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_8cbb5d07-cba3-071b-c9b2-0aac2f63eec8-bd850cbc {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_8cbb5d07-cba3-071b-c9b2-0aac2f63eec8-aa51d060 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

