<header id="nav" class="sticky-nav">
	<nav class="container w-container">
		<ul role="list" class="nav-grid w-list-unstyled">
		<li id="w-node-_8cbb5d07-cba3-071b-c9b2-0aac2f63eec8-bd850cbc" class="list-item">
			<a href="#" class="nav-logo-link"><img src="images/ideas_icon.png" alt="AI safety ideas logo" class="nav-logo"></a>
			<h1 class="logotext">Ideas platform</h1>
			<h2 class="subname">Technical AI Safety</h2>
		</li>
		<li>
			<a href="#" class="nav-link">Mentors platform</a>
		</li>
		<li>
			<a href="#" class="nav-link">Funders platform</a>
		</li>
		<li>
			<a href="#" class="nav-link">How does it work?</a>
		</li>
		</ul>
	</nav>
</header>
